extends base.pug

block content
	.card
		h4.card-header
			| Emploi du temps
		.card-block
			ul.list-unstyled
				each calendar in calendars
					li
						a(href='/calendar/'+calendar.name+'/customize')= calendar.name
