extends base.pug

block content
	.sticky-top.pt-2(style='background:rgba(255, 255, 255, 0.9)')
		h1= "Connexion"
		hr
	.alert.alert-warning.alert-dismissible.my-4
		| La connexion ne fonctionne pas depuis le réseau de l'école. Désolé!
		button.close(type='button', data-dismiss='alert', aria-label='Close')
			span(aria-hidden='true') &times;
	p.my-4
		| Connectez vous avec vos identifiants Centraliens.
	if error
		.alert.alert-danger.my-4
			| Nom d'utilisateur ou mot de passe invalide.
	form.m-2(method='POST')
		.form-group.row(class=(error ? 'has-danger' : ''))
			label.col-sm-2= 'Utilisateur'
			input.col-sm-10.form-control(type='text', placeholder='adupont2017', name='username')
		.form-group.row(class=(error ? 'has-danger' : ''))
			label.col-sm-2= 'Mot de passe'
			input.col-sm-10.form-control(type='password', name='password')
		.form-group.row
			input.col-sm-2.offset-sm-10.btn.btn-primary(type='submit', value='Connexion')