$colors: (
        color1: rgba(240, 100, 73, 1),
        color2: rgba(237, 230, 227, 1),
        color3: rgba(218, 218, 217, 1),
        color4: rgba(54, 56, 46, 1),
        color5: rgba(91, 195, 235, 1),
        color6: rgba(240, 135, 0, 1),
        color7: rgba(244, 159, 10, 1),
        color8: rgba(239, 202, 8, 1),
        color9: rgba(0, 166, 166, 1),
        color0: rgba(187, 222, 240, 1)
);

@for $i from 0 through 10 {
  .color-#{$i} {
    background-color: map-get($colors, color#{$i}) !important;
    color: white !important;
  }
}

.timetable {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(40, 1em);
  grid-gap: .4em .4em;
  margin: 1em;

  .separator {
    margin-top: 1px;
    border-top: 1px solid lightgray;
    grid-column: 1 / span 5;
  }
}

@media screen and (max-width: 767px) {
  .timetable {
    grid-template-columns: 1fr;
    .separator {
      grid-column: 1 / span 1;
    }
  }
}

.card-title {
  font-weight: 300;
  margin: .5em 0;
}

.card-body {
  padding: .1em .5em;
}

.card-text {
  margin: 0;
}

.trans-nav {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid lightgray;
}

.event-outline {
  height: 100%;
  flex-grow: 1;
  border: 2px dashed lightgray;
  border-radius: 2px;
}

.btn-left {
  position: absolute !important;
  bottom: 5px;
  left: 5px;
  z-index: 1500;
}

.btn-right {
  position: absolute !important;
  bottom: 5px;
  right: 5px;
  z-index: 1500;
}

.timetable-entry {

  display: flex;
  height: 100%;
  flex: 1;
  position: relative;

  .timetable-grow {
    height: 100%;
    flex-grow: 1;
  }
}